@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bootstrap datatable";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@section styles {
<link href="~/lib/DataTables-1.10.12/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/lib/DataTables-1.10.12/css/dataTables.bootstrap.css" rel="stylesheet" />
}

<table id="dvTable" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Lucy1</th>
            <th>U.S</th>
            <th></th>
            <th>MainStreetNo.1</th>
            <th>2014-11-17</th>
            <th>$546798</th>
        </tr>
        <tr>
            <th>Lucy0</th>
            <th>U.S</th>
            <th></th>
            <th>MainStreetNo.1</th>
            <th>2014-11-17</th>
            <th>$546798</th>
        </tr>
        <tr>
            <th>Lucy65</th>
            <th>U.S</th>
            <th></th>
            <th>MainStreetNo.1</th>
            <th>2014-11-17</th>
            <th>$546798</th>
        </tr>
        <tr>
            <th>Lucy24234</th>
            <th>U.S</th>
            <th></th>
            <th>MainStreetNo.1</th>
            <th>2014-11-17</th>
            <th>$546798</th>
        </tr>
        <tr>
            <th>Lucy234234</th>
            <th>U.S</th>
            <th></th>
            <th>MainStreetNo.1</th>
            <th>2014-11-17</th>
            <th>$546798</th>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>

@section scripts {
<environment names="Development">
    <script src="~/lib/DataTables-1.10.12/js/jquery.dataTables.js"></script>
    <script src="~/lib/DataTables-1.10.12/js/dataTables.bootstrap.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/DataTables-1.10.12/js/jquery.dataTables.js"></script>
    <script src="~/lib/DataTables-1.10.12/js/dataTables.bootstrap.js"></script>
</environment>

<script>

    // https://datatables.net/plug-ins/api/

    $.extend(true, $.fn.dataTable.defaults, {
        "language": { // https://datatables.net/reference/option/language
            "url": "/js/datatableLanguage.json"
        },
    });

    $(document).ready(function () {
        var table = $('#dvTable').DataTable({
            "aoColumns": [
                null,
                null,
                { "orderSequence": ["asc"] },
                { "orderSequence": ["desc", "asc", "asc"] },
                { "orderSequence": ["desc"] },
                null
            ]
        });

        // https://datatables.net/examples/advanced_init/events_live.html
        $('#dvTable tbody').on('click', 'tr', function () {
            var data = table.row(this).data();
            alert('You clicked on ' + data[0] + '\'s row');
        });
    });

    // 列自定义处理
    //https://datatables.net/examples/advanced_init/column_render.html

    // // https://datatables.net/examples/advanced_init/html5-data-options.html table options 
    // data-sort or data-order - for ordering data、data-filter or data-search - for search data
    // https://datatables.net/examples/advanced_init/html5-data-attributes.html

    // 
    
</script>`
}


